header {
  background-color: #191a26;
  padding: 10px 0 15px;
  border-bottom: 3px solid #4a4a4a;
  text-align: center;
}
.logo {
  width: 100px;
}
nav a{
  padding: 0 10px;
}
body {
  background-color: #303141;
  font-family: 'nytyt', sans-serif;
  font-size: 20px;
  /* Sets the font size to 20px */
  font-weight: 400;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #ffffff;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* a element */
a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

a:hover, a:focus {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}
a:visited {
  /* visited link */
  color: #ff7f50;
}

a:active {
  /* selected link */
  color: #994c30;
}

/* accessibility*/

/* button*/
.button.contact {
  background-color: #fbeee0;
  border: 2px solid #f2c493;
  border-radius: 30px;
  box-shadow: #b97b38 4px 4px 0 0;
  color: #f2aa5e;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button.contact :hover {
  background-color: #fff;
}

.button.contact :active {
  box-shadow: #b97b38 2px 2px 0 0;
  transform: translate(2px, 2px);
}


.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #efaa91;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}
button:visited {
  box-shadow: #f1a049 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.button:hover,
.button:focus{
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active{
  box-shadow: #d1eb74 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* nav*/
.nav { color: #ff7f50;
  text-decoration: none;
  /* No underlining */

}
.nav:visited{
  color: #ff7f50;
}
.nav:hover,
nav.focus{
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}
nav:active{
  color: #994c30;
}
footer {
  background-color: #191a26;
  padding: 40px 0 20px;
  margin-top: 40px;
  text-align: center;
}
.hero h1 span{
  display: block;
  font-size: 70%;
  margin-top: 1em;
}
.container{
  padding: 0 15px;
}
.social a{
  width: 100%;
  max-width: 40px;
  display: inline-block;
  padding: 8px ;

}
.email{ 
margin-bottom: 30px;
}
.linkedin .cls-1{
  fill: #007fb5;
}
.linkedin:hover .cls-1{
  fill: #8dd2f0;
}
.column{
  text-align: center;
}
.row{
  text-align: center;
}
.ul{
  text-align: center;
}